@using LicenseManager.Views
@{
    //Layout = "../Shared/_AdminLayout.cshtml";
    ViewBag.Title = "Administration - LM";
}

<h2>General usage</h2>

<h3>Do</h3>
<ul>
    <li>Use vertical navigation for moving between related sets of pages</li>
    <li>Use at left hand side of pages and <a href="/design/1.4/components/modal-dialog/">modal dialogs</a></li>
    <li>Use for navigation where you need groupings</li>
    <li>Use when you need a scalable navigation</li>
    <li>Use dividers and group headings for structure</li>
</ul>

<h3>Don't</h3>
<ul>
    <li>Never nest vertical navs inside each other</li>
    <li>Icons are not recommended in this navigation</li>
    <li>Don't use dropdowns in the navigation</li>
    <li>Use grouped headings as links</li>
</ul>
