@model LicenseManager.Models.ViewModels.DashboardViewModel

@{
    ViewBag.Title = "Dashboard - LM";
}

<header class="aui-page-header">
    <div class="aui-page-header">
        <div class="aui-page-header-inner">
            <h1>Dashboard</h1>
        </div>
    </div>
</header>

<div class="aui-page-panel fixed-right">
    <div class="aui-page-panel-inner">
        <section class="aui-page-panel-content">
            <h3>Products</h3>
        </section>

        <aside class="aui-page-panel-sidebar">
        </aside>
    </div>
</div>