@using LicenseManager.Views
<footer id="footer" role="contentinfo">
    <section class="footer-body">
        <ul>
            <li>Version 1.0</li>
            <li><a href="#">Changelog</a></li>
        </ul>
        <div id="footer-company-logo"><a href="#" target="_blank">License Manager</a></div>
    </section>
</footer>