@model LicenseManager.Models.ViewModels.NewProductVersionViewModel

@{
    Layout = "~/Views/Shared/_FocusedLayout.cshtml";
}

<h2>Create a new product version</h2>

@using (Html.BeginForm("CreateVersion", "Products", FormMethod.Post, new { @class = "aui" }))
{
    @Html.AntiForgeryToken()

    <fieldset>
        <div class="field-group">
            @Html.LabelFor(m => m.Version)
            @Html.TextBoxFor(m => m.Version, new { @class = "text" })
            <div class="error">@Html.ValidationMessageFor(m => m.Version)</div>
        </div>
    </fieldset>

    <div class="buttons-container">
        <div class="buttons">
            <input class="aui-button aui-button-primary" type="submit" id="submit" name="submit" value="Create version">
            <a id="cancel" class="aui-button aui-button-link" name="cancel" accesskey="c" href="#">Cancel</a>
        </div>
    </div>
}