.user-avatar,
.group-avatar {
  background: transparent 50% 50% no-repeat;
  vertical-align: text-bottom;
  margin-right: 10px;
}
.avatar-with-name .aui-avatar {
  vertical-align: middle;
}
.customer-table #actions {
  width: 16px;
}
.customer-table td {
  white-space: nowrap;
}
.customer-table td[headers=name] > div {
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  max-width: 240px;
  vertical-align: middle;
}
.customer-table td[headers=hosted] > div {
  max-width: 40px;
  text-align: center;
  vertical-align: middle;
}
.aui-page-focused .aui-page-panel {
  margin-top: 50px;
}
.aui-page-focused .aui-page-panel-content form.aui .buttons-container {
  border-top: 1px solid #ccc;
  margin-top: 20px;
  padding-top: 20px;
}
#footer .footer-body {
  background: none;
}
#footer-company-logo a {
  display: block;
  height: 24px;
  margin: 0 auto;
  text-align: left;
  text-indent: -9999em;
  width: 105px;
  background-size: 105px 24px;
  background: url('../../images/company-logo-bw.jpg') center bottom no-repeat;
}
#footer-company-logo a:hover {
  background-image: url('../../images/company-logo-color.jpg');
}
.aui-header .aui-header-logo-lm .aui-header-logo-device {
  width: 110px;
  background-image: url('../../images/logo.png');
}
.aui-page-header-main.entity-item h1 {
  display: inline-block;
}
.aui-page-header-main.entity-item h1 + .aui-button {
  margin-left: 10px;
  vertical-align: bottom;
}
.fixed-right .aui-page-panel-sidebar {
  width: 340px;
}
.fixed-right .aui-page-panel-sidebar .welcome-mat {
  background-size: 48px 48px;
  background-position: 232px 50px;
  border: 0;
  margin: 0;
  padding-left: 0;
  padding-right: 68px;
}
.fixed-right .aui-page-panel-sidebar .welcome-mat + .welcome-mat {
  border-top: 1px solid #ccc;
}
.welcome-mat {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #ccc;
  background-color: #fff;
  background-repeat: no-repeat;
  margin: 20px 0;
}
.welcome-mat.welcome-mat-small {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding: 20px;
  width: 300px;
  min-height: 120px;
}
.welcome-mat.welcome-mat-small h3 {
  font-size: 16px;
}
.welcome-mat h3 {
  text-align: left;
  padding: 0;
  color: #333;
  font-weight: normal;
}
.welcome-mat p {
  padding: 0;
  color: #333;
}
.aui-page-panel-content .summary-modules {
  margin-top: 20px;
}
.aui-page-panel-content .summary-modules .module {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 25px;
}
.aui-page-panel-content .summary-modules .module:first-child {
  margin-top: 0;
}
.aui-page-panel-content .summary-modules .module:before,
.aui-page-panel-content .summary-modules .module:after {
  content: " ";
  display: table;
}
.aui-page-panel-content .summary-modules .module:after {
  clear: both;
}
.aui-page-panel-content .summary-modules .module > .module-header > h3 {
  margin-top: 0;
}
.aui-page-panel-content .summary-modules .module > .module-header:before,
.aui-page-panel-content .summary-modules .module > .module-header:after {
  content: " ";
  display: table;
}
.aui-page-panel-content .summary-modules .module > .module-header:after {
  clear: both;
}
.aui-page-panel-content .summary-modules .module > .module-header + .module-content {
  margin-top: 10px;
}
.aui-page-panel-content .summary-modules .module .module-content:before,
.aui-page-panel-content .summary-modules .module .module-content:after {
  content: " ";
  display: table;
}
.aui-page-panel-content .summary-modules .module .module-content:after {
  clear: both;
}
.aui-page-panel-content .summary-modules .module + .module {
  border-top: 1px solid #cccccc;
  margin-top: 25px;
  padding-top: 25px;
}
ul.operations-list {
  display: inline;
  list-style-type: none;
  margin: 3px 0 0 0;
  padding: 0;
}
ul.operations-list > li {
  display: inline-block;
}
ul.operations-list > li + li:before {
  content: "\b7";
  padding: 0 0.42857142857142855em 0 0.21428571428571427em;
  color: #ccc;
  margin: 0 3px;
}
ul.operations-list .list-label {
  color: #707070;
}
table.aui > tbody > tr:hover {
  background-color: #F5F5F5;
}
table.aui > tbody > tr:hover .delete-button {
  visibility: visible;
}
table.aui > tbody > tr .delete-button {
  color: #bbb;
  visibility: hidden;
}
table.aui > tbody > tr .delete-button:hover {
  color: #505050;
  text-decoration: none;
}
table.aui td.empty-field {
  color: #999;
}
.aui-lozenge.aui-lozenge-code {
  background-color: #f5f5f5;
  border-color: #ccc;
  color: #333;
  font-family: monospace;
  font-weight: normal;
  text-transform: none;
  font-size: 12px;
  padding: 4px;
  margin: 0 3px;
}
h1 {
  font-size: 24px;
  font-weight: normal;
  line-height: 1.25;
}
h2 {
  font-size: 20px;
  font-weight: normal;
  line-height: 1.5;
}
.user-table #actions {
  width: 16px;
}
.user-table td {
  white-space: nowrap;
}
.user-table td[headers=fullname] > .avatar-with-name > a,
.user-table td[headers=username] > div,
.user-table td[headers=email] > div {
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  max-width: 180px;
  vertical-align: middle;
}
